.linearProg1 > * {
  background-color: rgba(14, 131, 14, 0.863) !important;
}
.linearProg2 > * {
  background-color: rgba(14, 78, 131, 0.863) !important;
}
.linearProg3 > * {
  background-color: #9a32f9 !important;
}
.linearProg4 > * {
  background-color: #f5474b !important;
}
.linearProg5 > * {
  background-color: #fdb904 !important;
}
.linearProg6 > * {
  background-color: #f35e90 !important;
}
.linearProg7 > * {
  background-color: #7db235 !important;
}
