.defaultButton {
  box-shadow: 4px 4px 4.2px rgba(121, 120, 120, 0.2),
    3px 3.7px 6.3px rgba(119, 127, 145, 0.1),
    2px 4.5px 3px rgba(164, 182, 245, 0.1), 0 3.5px 3.9px rgba(0, 0, 0, 0.1);
}
.defaultButton:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4.2px rgba(121, 120, 120, 0.2),
    9px 3.7px 6.3px rgba(119, 127, 145, 0.1),
    2px 4.5px 3px rgba(164, 182, 245, 0.1), 0 9.5px 3.9px rgba(0, 0, 0, 0.1);
}
